.margin{
    margin: 2% 10% 2% 10%;
  }

  .mb-4{
      margin: 2% 0;
  }

.search{
    position: absolute;
    width: 80%;
    text-align: left;
    margin-top: -1px;
    z-index: 989;
    cursor: default;
    -webkit-user-select: none;
    margin-top: -24px;
}

.searchResult{
    background: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border: 0;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    overflow: hidden;
}

.u-list{
    flex: auto;
    background-color: white;
    margin: 1% 0% 0.5% -1%;
}

.l-list{
    display: flex;
    align-items: center;
    min-width: 0;
    max-height: none;
    padding: 0;
}

a{
    color: #007bff;
    cursor: pointer;
}