<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <span><img class="img-responsive img-class " src="assets/logo.png"></span> 
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarMenu">  
    <ul class="navbar-nav ml-auto">    

     <div class="dropdown">
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/app-my-orders">My Orders</a>
            <a class="dropdown-item" routerLink="/check-out">Check Out</a>
            <a class="dropdown-item" routerLink="/admin/products">Admin Products</a> 
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
      <button type="button" *ngIf="login" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
        {{ name | titlecase}}
      </button>
      
  </div>
      <!-- this part invoked when user didnt login -->
        <li class="nav-item navbar-nav">
            <a *ngIf="!login" class="nav-link" routerLink="/login">Login</a>
            <a *ngIf="login" class="nav-link" routerLink="/shopping_cart">Cart
              <span class="badge badge-warning badge-pill">
                 {{_service.cartItem$ | async}}
                  <!-- this totalItemsCount call ngOninit and get() from there it returns items to shopping-cart class -->
              </span></a>
        </li>

     <li class="nav-item">
       <a class="nav-link" routerLink="/products">Products</a>
     </li>
    
   </ul>
   
   </div>
   
 </nav>
   